<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card class="full-width">
            <div class="alert alert-success" role="alert">
                <h1 class="text-center" style="color: #000080">Enter OTP From Email !!</h1>

              </div>We have send OTP to your Email.
                <form >
            <!-- Email field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>OTP:</mat-label>
              <input
                type="text"
                name="OTP"
                required="required"
                matInput
                placeholder="Enter OTP here"
              />
              <mat-hint>Enter OTP from Email</mat-hint> 
            </mat-form-field>

            <div class="container text-center">
              <button mat-raised-button color="primary" type="submit" class="btn btn-success" (click)="openSetNewPassword()">
                Verify OTP
              </button>
            </div>

          </form>
        </mat-card>
      </div>
    </div>
  </div>
  
