<div class="container" >
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card class="full-width"class="mt20">
        <h1 class="text-center" style="color: #000080">Set New Password !!</h1>
        <p>Please enter your new password.
        <!-- {{ loginData | json }} -->
        <form >
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Name</mat-label>
            <input name="username"
            [(ngModel)]="username"
      
             required
             matInput 
             placeholder="Enter here" />
            <mat-hint>Valid User Name</mat-hint>
          </mat-form-field>
      
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Current Password</mat-label>
            <input name="currentPassword" 
            type="password" 
            required 
            matInput 
            placeholder="Enter your current password" />
          </mat-form-field>
      
            <button mat-raised-button color="primary" type="submit" (click)="openSetNewPassword()">Submit</button>
            <button mat-raised-button color="primary" (click)="dialogRef.close()">Cancel</button>
        
      
        </form>
      </mat-card>
    </div>
  </div>
</div>

