<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card class="full-width">
          <h1 class="text-center" style="color: #000080">Set New Password !!</h1>
          <p>Please enter your new password.
          <!-- {{ loginData | json }} -->
         <form (submit)="updatePassword()">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>New Password</mat-label>
                <input name="newPassword" 
                type="password" 
                required 
                matInput 
                placeholder="Enter your new password" />
              </mat-form-field>
          
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Confirm New Password</mat-label>
                <input name="confirmNewPassword" 
                type="password" 
                required 
                matInput 
                placeholder="Confirm your new password" />
              </mat-form-field>
          

              <div mat-dialog-actions>
                <button mat-raised-button color="primary" type="submit">Submit</button>
                <button mat-raised-button color="primary" (click)="dialogRef.close()">Cancel</button>
              </div>
          

          </form>
        </mat-card>
      </div>
    </div>
  </div>
  
