  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card class="full-width">
          <h1 class="text-center" style="color: #000080">Enter Your Registered Email !!</h1>
                <p>Your OTP will send to your Email to reset your password.If you dont get email within a few minute .Please re-try.</p>
          <!-- {{ loginData | json }} -->
         <form (ngSubmit)="sendOTP()">
            <!-- Email field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email:</mat-label>
              <input

              type="email"
                name="email"
                required
                matInput
                placeholder="Enter Email Here"
              />
              <mat-hint>Enter Registered Email</mat-hint>
            </mat-form-field>

            <div class="container text-center">
              <button mat-raised-button color="primary" type="submit" (click)="openVerifyOTP()" >
                Send OTP
              </button>
            </div>

          </form>
        </mat-card>
      </div>
    </div>
  </div>
  
